# langsmith
export LANGSMITH_TRACING=true
export LANGSMITH_API_KEY=""


# 百炼apiKey
export LLM_QWEN_API_KEY=""
export LLM_QWEN_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
# 火山引擎apikey
export VOLC_ENGINE_API_KEY=""
# 智谱apikey
export ZP_API_KEY=""

# 高德apikey
export MCP_AMAP_KEY=""


# 阻止graphiti上报数据
export GRAPHITI_TELEMETRY_ENABLED=false

# neo4j配置
export NEO4J_URI="bolt://localhost:7687"
export NEO4J_USER="neo4j"
export NEO4J_PASSWORD="abcd1234"

